
#form_register{
    width: 900px;
    max-width: 95vw;
    border: 1px solid #dcc5bb;
    margin: 10px auto;
    display: flex;
    border-radius: 30px;
}
.form_register_banner{
    width: 50%;
    position: relative;
}
.form_register_banner img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    object-fit: cover;
}
.form_register_banner .register_dr{
    position: absolute;
    bottom: 0;
    padding: 20px 50px;
    /* text-align: center; */
}
.register_dr h4{
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    color:white;
    letter-spacing: 3px;
}
.register_dr p{
    color: white;
}
.box_register{
    width: 50%;
}
.box_register h4{
    width: 100%;
    background-color: #dcc5bb;
    border-top-right-radius: 30px;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    padding: 20px 30px;
    text-align: center;
}
#register{
    padding: 10px 30px;
}
#register label{
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
}
#register input{
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 2px solid #dcc5bb;

}
#register button{
    margin-top: 20px;
    width: 100%;
    border: none;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 20px 0;
    color: white;
    background-color: #dcc5bb;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
#register button:hover{
    background-color: #FFC0CB;
    color: white;
}
#register p{
    color: red;
    text-align: start;
    padding: 5px 0;
}
#register p#register_success{
    font-size: 20px;
    text-align: center;
    padding: 15px 0 ;
    font-weight: bold;
}
#register a{
    font-size: 18px;
}

@media (max-width: 768px){
    #form_register{
        border: none;
    }
    .form_register_banner{
        display: none;
    }  
    .box_register{
        width: 100%;
        max-width: 80vw;
        border: 1px solid #dcc5bb;
        border-radius: 30px;
        margin: 0 auto;
    }
    .box_register h4{
        border-top-left-radius: 30px;
    }
}